doctype html
html(prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")

    title=title
    meta(name="title", content=title)
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)

    link(rel="canonical",href=url)
    link(rel="image_src",href=image)

    meta(property="og:title",content=title)
    meta(property="og:type",content=type)
    meta(property="og:url",content=url)
    meta(property="og:description",content=description)
    meta(property="og:image",content=image)
    meta(property="og:image:width",content="640")
    meta(property="og:image:height",content="346")

    meta(name="twitter:card",content="summary_large_image")
    meta(name="twitter:site",content=twitter)
    meta(name="twitter:title",content=title)
    meta(name="twitter:description",content=description)
    meta(name="twitter:image",content=image)

    if (icons)
      link(rel="icon",type="image/ico",href="http://ia.media-imdb.com/images/G/01/imdb/images/favicon-2165806970._CB282921871_.ico")
      link(rel="shortcut icon",type="image/x-icon",href="http://ia.media-imdb.com/images/G/01/imdb/images/desktop-favicon-2165806970._CB282919592_.ico")

    if (icons && icons.apple)
      link(href="http://ia.media-imdb.com/images/G/01/imdb/images/safari-favicon-517611381._CB282921673_.svg",mask,rel="icon",sizes="any")
      link(href="http://ia.media-imdb.com/images/G/01/imdb/images/mobile/apple-touch-icon-web-4151659188._CB282929416_.png",rel="apple-touch-icon")
      link(href="http://ia.media-imdb.com/images/G/01/imdb/images/mobile/apple-touch-icon-web-76x76-53536248._CB282922612_.png",rel="apple-touch-icon",sizes="76x76")
      link(href="http://ia.media-imdb.com/images/G/01/imdb/images/mobile/apple-touch-icon-web-120x120-2442878471._CB282924330_.png",rel="apple-touch-icon",sizes="120x120")
      link(href="http://ia.media-imdb.com/images/G/01/imdb/images/mobile/apple-touch-icon-web-152x152-1475823641._CB282894675_.png",rel="apple-touch-icon",sizes="152x152")

    link(href="index.css",type="text/css",rel="stylesheet")
  body
    canvas
    .debug
    script(src="index.js")
