html, body
  margin 0
  padding 0
  background #000
  color #fff
  width 100%
  height 100%
  overflow hidden

canvas
  width 100%
  height 100%

.debug
  font-family monospace
  white-space pre
  position fixed
  top 0
  left 0
  width 100%
  height 100%

